<div class="row">


    <div class="col">
        <p class="text-muted fw-bold">
            ูุฑุญุจุง ุจูู ูู ูุธุงู ุญู ุงููุดุงูู  ๐ฆ
        </p>

        <div class="bg-light br-10 p-2 fw-bold mb-2">
                <p>
                    ูุฏูู ุนุฏุฏ <%= current_user.owned_tickets.count %>
                    ุดูุงูู.

                    <%= link_to 'ุนุฑุถ ุงูุฌููุน', tickets_path %>
                </p>
        </div>

        <%= link_to new_ticket_path, class: 'btn btn-outline-success btn-lg fw-bold' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            ุงูุดุงุก ุดููู ุงูุงู
        <% end %>
    </div>

</div>