<div class="row">
    <div class="col">
        <div class="bg-light p-2 br-10">
            <h5 class="fw-bold"> جميع الشكاوي الخاصه بي. </h5>
            <p class="fw-bold text-muted">
                لقد قمت برفع 
                <u> <%= Ticket.where(owner: current_user).count %> </u> شكوي 
                حتي الان.
            </p>

            <% if @tickets.any? %>
                <table class="table table-sm table-bordered table-hover">

                    <thead>
                        <tr>
                            <th> وصف مختصر </th>
                            <th> الحاله </th>
                        </tr>

                    </thead>
                    <tbody>

                    
                <%  @tickets.each do |ticket| %>

                    <%= render ticket %>
                    
                <% end %>
                    
                    </tbody>

                </table>

                <%= paginate @tickets %>
                
            <% else %>
                <div class="bg-white p-2">
                    <p class="fw-bold"> انت لم تقم برفع اي شكوي حتي الان. </p>
                </div>
            <% end %>
        </div>
    </div>
</div>